:root {
  --status-indicator-size: 25px !important;
}

html,
body {
  padding: 20;
  background: #222;
  color: white;
  height: 100%;
  font-size: 20;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
td {
  text-align: center;
}
thead {
  text-align: center;
}

#ParticleContainer {
  position: absolute;
  z-index: -1;
}
#AppContainer {
  position: relative;
  z-index: 0;
}
